*{

	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins';
	border-color: transparent;
	border-radius: 10px;	
	
}

#background{
	
	background-image: url(imagens/background.png);
	background-repeat: repeat;

}

#text{

	position: absolute;
	width: 525px;
	height: 220px;
	left: 165px;
	top: 100px;

}

#big-text{
	
	color: white;
	font-size: 50px;

}

#small-text{
	color: white;
	font-size: 16px
}

#box-cima{

	position: absolute;
	font-size: 15px;
	width: 540px;
	height: 60px;
	left: 735px;
	top: 121px;
	background: #5E54A4;
	color: white;
	text-align: center;
	

}

#centralizar{

	height: 26px;
	left: 20%;
	top: calc(50% - 26px/2);
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;

}


#box-baixo{

	position: absolute;
	width: 540px;
	height: 400px;
	left: 735px;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding: 25px;	
	
}

#btn-submit{

	position: absolute;
	background: #38CC8B;
	border-radius: 10px;
	color: white;
	width: 490px;
	font-weight: 600;
	border-color: transparent;
	line-height: 26px;
	font-size: 16px;
	cursor: pointer;
}

#terms{

	color:#BAB7D4;
	text-align: center;
	font-weight: 500;
	font-size: 11px;
	line-height: 50px;
	height: 100px;

}

input{
	display: block;
	outline: none;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	
}

input:focus{

	border-color: #5E54A4;
	
}

#c{
	color: #FF7979;
}

input:invalid{
	
	border-color: red;

}